body{
  background: #333;
  margin: 0;
}

.container {
  box-shadow: 0 0 20px rgba(1,1,1,0.9);
  display: grid;
  grid-template-columns: 20% 79% 1%;
  text-align: center;
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  background-color: #222;
  color: white;
  display: grid;
  grid-template-rows: 10% 60% 25%;
}

.title {
  font-size: 1.5em;
}

/* Color Blocks */

.color-blocks{
  display: grid;
  grid-template-rows: repeat(6, 4em);
  justify-items: center;
}

.color-bl, .control-buttons div{
  border-radius: 2px;
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.color-bl.disabled{
  pointer-events: none;
  opacity: 0.7;
}

.color-bl.active{
  border: 2px #FFF solid;
}

/* Cell Board */
.game-board{
  background: #EEE;
  margin: 0;
  padding: 0;
}

.grid{
  display: grid;
  grid-gap: 0;
  margin: 0 auto;
}

.cell{
  border-radius: 4px;
  outline: 1px solid #777; 
  outline-offset: -2px;
}

.computer{
  background: url('img/cloud.svg') no-repeat center; 
}

.player{
  background: url('img/leaf.svg') no-repeat center;
}

.control-buttons{
  display: grid;
  grid-template-rows: repeat(3, 3.5em);
  justify-items: center;
}

.show-leaders{
  background: url(img/right.svg) #333 no-repeat center;
}

.refresh{
  background: url('img/refresh.svg') #333 no-repeat center;
}

.info{
  background: url('img/info.svg') #333 no-repeat center;
}

.control-buttons div{
  z-index: 5;
  background-size: 3em;
}

.control-buttons div:hover{
  box-shadow: inset 0 0 0 4px #fff;
  opacity: 1;
}

.control-buttons div:active{
  opacity: 0.7;
}

/* Modal */
.modal{
  animation-duration: 1s;
  animation-name: slideleft;
  background: rgba(0, 0, 0, 0.6);  
  height: 100vh;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

@keyframes slideleft {
  from {
    width: 0; 
  }

  to {
    width: 100vw;
  }
}

.modal h1{
  color: #FFF;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
}

.modal-context{
  animation-duration: 1s;
  animation-name: slideleft;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  max-width: 700px;
  margin: 0 auto;
}

.modal-context.header{
  background: rgba(255, 255, 255, 0.5)
}

.modal-context div{
  background: rgba(90, 87, 87, 0.6);
  padding: 10px;
  font-size: 20px;
  color: #fff; 
}

.modal-link a{
  color: #FFF;
  font-size: 20px;
}

/* Mobile */
@viewport {
  orientation: portrait;
}

@media (max-width: 600px), only screen and (max-width: 768px) and (orientation: landscape){
 .container{
    width: 100%;
    min-width: 300px;
    display: grid;
    grid-template-columns: 2.5em calc(100% - 2.5em);
    height: calc(100vh - 80px);
  }

  .header{
    padding-top: 5px; 
    grid-template-rows: 70% 30%;
  }

  .title{
    display: none;
  }

  .color-blocks{
    grid-template-rows: repeat(6, 10%);
  }

  .color-bl {
    width: 2em;
    height: 2em;
  }

  .control-buttons{
    padding: 0;
  }
 
  .modal-context{
    grid-template-columns: 10% 50% 40%;
    padding: 0;
    width: 100vw;
  }

  .modal-context div{
    font-size: 14px;
    padding: 3px;
  }

  .control-buttons div{
    width: 2em;
    height: 2.5em;
  }

  .control-buttons div:hover{
    box-shadow: inset 0 0 0 2px #fff;
  }

  .cell{
    width: 20px;
    height: 20px;
  }
}

@media only screen and  (max-width: 768px) and (orientation: landscape)
{
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    padding-top: 80px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}